<div class="row justify-content-center">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="jumbotron">
            <h1>{{titulo}}</h1>
            <p>Gestiona tus productos con la aplicacion web SP Acreada con Angular desde 0</p>
            <p>
                <a [routerLink]="['/productos']" class="btn btn-lg btn-primary">Ver productos</a>
                <a [routerLink]="['/crear-producto']" class="btn btn-lg btn-success">Añadir productos</a>
            </p>
        </div>
    </div>
</div>