<h3 class="titulo">{{title}}</h3>



<div class="row">
    <div class="col m4">Buscar:</div>
    <div class="col m4">
        <input type="text" [(ngModel)]="busqueda"/>
    </div>
    <div class="label label-success" *ngIf="busqueda">
        Termino de busqueda: <strong>{{busqueda}}</strong>
    </div>
</div>


<ul class="collection">
    <li *ngFor="let user of users"  class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">{{user.name}}</span>
      <p>{{user.surname}} 
      </p>
 
      <a class="btn-floating btn-large waves-effect waves-light  secondary-content2" ><i class="material-icons left">edit</i></a>
      <a class="btn-floating btn-large waves-effect waves-light secondary-content red" (click)="deleteUser(user._id)"><i class="material-icons left">delete</i></a>
     
    </li>
    
  </ul>