<h3 class="titulo">{{title}}</h3>


<div class="row">
    <div class="col s2 m4"></div>
      <div class="col s12 m4 caja_login ">
        
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class='row'>
                  <div class='input-field col s12'>
                  <i class="material-icons prefix">account_circle</i>
                  <input class='form-control' type="email" name="email" #email="ngModel" [(ngModel)]="user.email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                  
                  <span class="aviso" *ngIf="!email.valid && email.touched">
                      El email no es correcto
                  </span>
                  </div>
              </div>
  
              <div class='row'>
                <div class='input-field col s12'>
                <i class="material-icons prefix">account_circle</i>
                <input class='form-control' type="text"  name="name" #name="ngModel" [(ngModel)]="user.name"/>
               
                <span class="aviso" *ngIf="!name.valid && name.touched">
                    El nombre no es correcto
                </span>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                <i class="material-icons prefix">account_circle</i>
                <input class='form-control' type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" />
               
                <span class="valido" *ngIf="!surname.valid && surname.touched">
                    El apellido no es correcto
                </span>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                <i class="material-icons prefix">account_circle</i>
                <input type="email" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
                
                </div>
                <span class="valido" *ngIf="!nick.valid && nick.touched">
                    El nick es obligatorio
                </span>

            </div>

           
      <br />
      
          <div class='row'>
           <button class="col s12 btn btn-large waves-effect orange" type="submit" name="action">ACTULIZAR</button>
          </div>



          <div class="row">

            <div class="card-content red-text" *ngIf="status == 'error'">
             
               
                  
                  <p>No te has podido identificar, intente de nuevo</p>
                
                
             
              </div>
              </div>
      
      </form>


      

</div>
