<div class="slider">
  <ul class="slides">
    <li>
      <img src="../assets/img.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3 class="sombra">Libertad</h3>
        <h5 class="white-text text-lighten-3 sombra">Vive tu momento.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img2.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3 class="sombra">Amistad</h3>
        <h5 class="white-text text-lighten-3 sombra">Comparte experiencias.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/img3.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3 class="sombra">Solidaridad</h3>
        <h5 class="white-text text-lighten-3 sombra">Piensa en los demas.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/imagen5.png"> <!-- random image -->
      <div class="caption right-align">
        <h3 class="sombra">Organizacion</h3>
        <h5 class="white-text text-lighten-3 sombra">Ante todo seguridad.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/pp.png"> <!-- random image -->
      <div class="caption right-align">
        <h3 class="sombra">Diversión</h3>
        <h5 class="white-text text-lighten-3 sombra">Disfruta de los tuyos.</h5>
      </div>
    </li>
    
  </ul>
</div>



    <div class="row">
        <div class="center col s12 m4 espacio">
            
              <i class="medium material-icons ">group</i>
              <h5 style="color: #FB8C00; "  class="center">¿Quiénes somos?</h5>
              <p class="light texto">Asociación Harlistas de España (AHE), una asociación que nace para reunir a propietarios de motocicletas Harley Davidson y que tiene como objetivo fundamental fomentar la amistad y compartir experiencias entre propietarios de Harleys y sus familias.

                  La Asociación Harlistas de España es una organización autónoma sin ánimo de lucro</p>
        </div>

        <div class="center col s12 m4 espacio">
            <i class="medium material-icons">mode_edit</i>
            <h5 style="color: #FB8C00; " class="center">Hazte socio</h5>
            <p class="light texto" >Nuestros socios son gente entusiasta del mundo Harley Davidson de cualquier punto de España.

                Para formar parte de la Asociación Harlistas de España, solamente tendrás que remitir debidamente cumplimentada la solicitud que te adjuntamos. De forma inmediata, la Junta Central de la AHE valorará tu candidatura y te comunicará el resultado para que procedas con los trámites de inscripción definitiva y puedas pertenecer como socio de número a la AHE</p>
          </div>

          <div class="center col s12 m4 espacio">
              <i class="medium material-icons">navigation</i>
              <h5 style="color: #FB8C00; " class="center">Nuestras rutas</h5>
              <p class="light texto" >salimos casi todos los domingos desde el Chanoe para la sección Madrid y desde la Casa Hogar del Motrista, la sección Tenerife</p>
          </div>
            
    </div>


 <hr>
  
  <br>
    <h4 class="titulo"> Hazte Amigo</h4>

    <div class="row">
      <div class="center col s12 m4 offset-m4 espacio">
          
            <i class="medium material-icons "> record_voice_over</i>
            <h5 style="color: #FB8C00; "  class="center">Ser Amigo</h5>
            <p class="light texto">Para estar informado de todos los eventos de la asociación, através de su correo electrónico.</p>
      </div>

    
          
  </div>

 <hr>
  <br>
    <h4 class="titulo"> Hacerse Socio</h4>

    <div class="row">
      <div class="center col s12 m6 espacio">
          
            <i class="medium material-icons "> filter_1</i>
            <h5 style="color: #FB8C00; "  class="center">Rueda sin compromiso</h5>
            <p class="light texto">Si estas pensando en hacerte socio, o simplemente quieres probar y dar una vuelta, asiste a nuestras rutas sin ningún compromiso,
              comprobarás si te gusta, siempre hay tiempo para hacerse socio.
            </p>
      </div>

      <div class="center col s12 m6 espacio">
        <i class="medium material-icons">filter_2</i>
        <h5 style="color: #FB8C00; " class="center">Ser Socio</h5>
        <p class="light texto" >Si estas convencido y te gusta rodar con nosotros, las puertas de la asociación estarán abiertas. Solo tienes que rellenar la solicitud.</p>
    </div>
      

    
          
  </div>

   